@charset "UTF-8";

span {
	font-family: montserrat;
}
a {
	font-family: montserrat;
}
h1 {
	font-family: montserrat;
}
h2 {
	font-family: montserrat;
}

h3 {
	font-family: montserrat;
}
h4 {
	font-family: montserrat;
}
h5 {
	font-family: montserrat;
}
h6 {
	font-family: montserrat;
}
label {
	font-family: montserrat;
}
p {
	font-family: montserrat;
}
input {
	font-family: montserrat;
}

button {
	font-family: montserrat;
}

body {
	max-width: 480px;
	margin-top: 59px;
}
.cd-faq__items {
  position: fixed;
  height: 100%;
  width: 90%;
  top: 0;
  right: 0;
  transform: translateZ(0) translateX(100%);
  transition: transform .3s;
}

.cd-faq__items--slide-in {
  transform: translateX(0);
}

.nav-item{
	border:none;
	border-radius: none;
}

.content {
    margin-top: calc(50% - 133px);
}

.primary-color{
	background-color: #C29EFD;
	margin-top: 15px;
	border-radius: 0px;
}

.icons{
	width: 35px;
	max-height: auto;
}

.secondary-color{
	background-color: #C069FF;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.header_main{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
}
	
.nav {
	max-width: 480px;
}

.navbar{
	max-width: 480px;
}

.button {
	justify-content: center;
	text-align: center;
	padding: 20px;
}

.buttons > .button > a{
	background-color: #C29EFD;
}

.but {
	height: auto;
	width: 250px;
	color: black;
	border-color: #C29EFD;
	border-radius: 10px !important;
	border:none;
}

.butt {
	color: black;
	background-color: #C29EFD;
	border-color: #C29EFD;
}

.footer {
	background-color: aqua;
	height: 100px;
	align-items: center;
}

.foot {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	background-color: grey;
	height: 30%;
	
}
